<header>
    <h1>My House</h1>
</header>
<nav class="horizontal-nav">
    <ul>
        <% unless @houses.count < 1 %>
            <a href="/my_house">
                <li>my house</li>
            </a>
            <a href="/houses/<%= @house.id %>/unpaid_bills">
                <li>unpaid bills</li>
            </a>
            <a href="/houses/<%= @house.id %>/all_bills">
                <li class="active">bill history</li>
            </a>
            <a href="/houses/<%= @house.id %>/invite_code">
                <li>invite mates</li>
            </a>
            <a href="/houses/<%= @house.id %>/chores">
                <li>house chores</li>
            </a>
        <% else %>
            <a href="/join_house">
                <li>join a house</li>
            </a>
            
        <% end %>
    </ul>
</nav>
<main>
    <%= render 'houses/partials/bills_all'%>
</main>