<% unless @houses.count < 1 %>
    <% @houses.each do |house| %>
        <h2>My House</h2>
        <%= render '/houses/partials/house_details', :house => house %>
        <%= render '/houses/partials/invite_code', :house => house %>
        <%= render '/houses/partials/leave_house', :house => house %>
        <%= render '/houses/partials/my_mates', :house => house %>
        <%= render '/houses/partials/chores', :house => house %>
        <%= render '/houses/partials/bills_owing' %> 
        <%= render '/houses/partials/bills_all', :house => house %> 
    <% end %>
<% else %>
    <div>
        <h2>Hey mate!</h2>
        <p>You're not part of a house... :(</p>
        <p>join one or create one</p>
        <p>or start at this puppy</p>
        <p>[dog]</p>
    </div>
<% end %>