<header>
    <h1><%= @user.first_name %>'s Profile</h1>
</header>
<nav class="horizontal-nav">
    <ul>
        <a href="<%= user_path(@user.id) %>">
            <li class="active">Profile</li>
        </a>
        <a href="<%= user_path(@user.id) %>">
            <li>Profile</li>
        </a>
        <a href="<%= user_path(@user.id) %>">
            <li>Profile</li>
        </a>
    </ul>
</nav>
<main>
    <%= render 'users/partials/image_form'%>
    
    <div>
        <h3>Name</h3>
        <p><%= @user.first_name %> <%= @user.last_name %></p>
        <h3>Gender</h3>
        <p><%= @user.gender %></p>
        <h3>Birthday</h3>
        <p><%= @user.dob %></p>
    </div>

    <div>
        <h3>Relationship Status</h3>
        <p><%= @user.mate_profile.marital_status %></p>
        <h3>Occupation</h3>
        <p><%= @user.mate_profile.job %></p>
        <h3>Do I smoke?</h3>
        <p><%= @user.mate_profile.is_smoker ? "yes" : "no" %></p>
        <h3>Faith</h3>
        <p><%= @user.mate_profile.faith %></p>
        <h3>Personality</h3>
        <p><%= @user.mate_profile.personality %></p>

    </div>

</main>

