<header>
    <h1>edit my profile</h1>
</header>
<nav class="horizontal-nav">
    <ul>
        <a href="<%= user_path(@mate_profile.user.id) %>">
            <li>profile</li>
        </a>
        <a href="/users/<%= @mate_profile.user.id %>/reviews">
            <li>reviews</li>
        </a>
        <a href="<%= edit_mate_profile_path(@mate_profile.id) %>">
            <li class="active">edit profile</li>
        </a>
    </ul>
</nav>
<main>
     <%= form_tag "/mate_profiles/#{@mate_profile.id}", method: "patch", :authenticity_token => true do %>
        <h3>Occupation</h3>
        <input type="text" name="mate_profile[job]" value="<%= @mate_profile.job %>">
        <h3>Relationship Status</h3>
        <input type="text" name="mate_profile[marital_status]" value="<%= @mate_profile.marital_status %>">
        <h3>Smoker</h3>
        <select name="mate_profile[is_smoker]" value="<%= @mate_profile.is_smoker %>">
                <option value="true">Yes</option>
                <option value="false">No</option>
        </select>
        <h3>My Religion</h3>
        <input type="text" name="mate_profile[faith]" value="<%= @mate_profile.faith %>">
        <h3>My personality</h3>
        <input type="text" name="mate_profile[personality]" value="<%= @mate_profile.personality %>">
        <button class="submit">save my details</button>
        
    <% end %>
</main>