<div style="border-bottom: 1px solid gray;">
    <h2>Bills - History</h2>
    <% @house_bills.each do |bill| %>
        <p>Description: <%= bill.desc %></p>
        <p>Amount: <%= bill.amount %></p>
        <p>Category: <%= bill.category %></p>
        <p><%= link_to "edit", edit_house_bill_path(bill.id) %></p>
        <p><%= link_to "show", house_bill_path(bill.id) %></p>

        <div style="border-bottom: solid 1px gray;">
            <ul>
                <% bill.bill_payments.each do |payment| %>
                    <li>
                        <%= payment.user.first_name %>
                        <% if payment.paid %>
                            has paid
                        <% else %>
                            owes <%= payment.amount_due %>
                        <% end %>
                    </li>
                <% end %>
            </ul>
            <div>
                <ul>
                    <% bill.bill_images.each do |img| %>
                        <li style="display: inline;">
                            <a href="<%= img.image.url %>"
                                target="_blank"
                            >
                            <div style="
                                display: inline-block;
                                margin: 4vh 3vw;
                                background-image: url('<%= img.image.url(:thumb)%>');
                                background-position: 50% 50%;
                                background-size: cover;
                                width: 10vw;
                                height:10vw;
                            ">
                            </div></a>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    <% end %>
</div>