<!DOCTYPE html>
<html>
  <head>
    <title>RealM8sRorFull</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
        <ul>
            <li><%= link_to "My House", '/my_house' %></li>
            <li><%= render "/layouts/partials/login" %></li>
        </ul>
      
    </nav>
    <%= yield %>
  </body>
</html>
