<header>
    <h1><%= @house_bill.desc %></h1>
</header>
<nav class="horizontal-nav">
    <ul>
        <% unless current_user.houses.count < 1 %>
            <a href="/my_house">
                <li>my house</li>
            </a>
            <a href="/houses/<%= current_user.houses.first.id %>/unpaid_bills">
                <li>unpaid bills</li>
            </a>
            <a href="/houses/<%= current_user.houses.first.id %>/all_bills">
                <li>bill history</li>
            </a>
            <a href="/houses/<%= current_user.houses.first.id %>/invite_code">
                <li>invite mates</li>
            </a>
            <a href="/houses/<%= current_user.houses.first.id %>/chores">
                <li>house chores</li>
            </a>
        <% else %>
            <a href="/join_house">
                <li>join a house</li>
            </a>
        <% end %>
    </ul>
</nav>
<main>

    <%= form_tag "/house_bills/#{@house_bill.id}", method: "patch", :authenticity_token => true do %>
            <label for="house_bill[desc]">Description</label>
            <input type="text" name="house_bill[desc]" value="<%= @house_bill.desc %>">
            <label for="house_bill[amount]">Amount Due</label>
            <input type="text" name="house_bill[amount]" value="<%= @house_bill.amount %>">
            <label for="house_bill[category]">Category</label>
            <input type="text" name="house_bill[category]" value="<%= @house_bill.category %>">
            <label for="house_bill[due_date]">Due Date</label>
            <input type="date" name="house_bill[due_date]" value="<%= @house_bill.due_date.strftime("%Y-%m-%d") %>">
        <button type="submit" class="submit">save the bill</button>
            
    <% end %>

</main>